<div class="container">
<h5><b>Chairperson:</b> {{vm.chairpersonAddress}}</h5>
<h5><b>Pot:</b> {{vm.contractBalance}}</h5>
<h5 ng-if="vm.status">{{vm.status}} - 
  <a href="{{vm.linkTxn}}" target="_blank">{{vm.currentTxn}}</a></h5>


<button type="button" 
  ng-click="vm.sendEthToContract()" 
  class="btn btn-primary btn-lg btn-block col-sm-6">
  send Eth To Contract
</button>

<button type="button" 
  ng-click="vm.sendContractEthToChairperson()" 
  class="btn btn-primary btn-lg btn-block col-sm-6">
  send Contract Eth To Chairperson
</button>
<br>
</div>